<%= form_for(outfit, multipart: true) do |f| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>
      <ul>
        <% outfit.errors.full_messages.each do |message| %>
          <li><%= message %></li>        
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :private %> (Select this box if you want your outfit to be hidden from the public landing page) <br>
    <%= f.check_box :private %> 
  </div> 

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, data: { :provide => 'datepicker'}, value: Date.today.strftime('%m/%d/%Y'), id: 'datepicker' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <p>Where did you wear this outfit? Thoughts/notes, temperature, etc.</p> 
    <%= f.text_area :description %> 
  </div> 

  <div class="field">
    <%= f.label :add_items_to_your_outfit %>
    <%= f.collection_select(:item_ids, current_user.items, :id, :long_name, {}, {class: 'chosen-select', multiple: true, id: "item_collection_select"}) %> 

  </div>

  <div class="field">
    <p>Add a picture of your outfit: (optional) </p>
    <%= f.file_field :fitpic %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
