<p id="notice"><%= notice %></p>

<div class="row">
  <% if @outfit.fitpic.exists? %> 
    <div class="col-sm-8">
        <%= image_tag @outfit.fitpic.url(:medium) %>
    </div>
  <% end %> 
  <div class="col-sm-4">
    <p>
      <strong>Worn on:</strong>
      <%= @outfit.display_date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @outfit.description %>
    </p>

    <p><strong>Items</strong></p>
    <%= render @outfit.items %> 

    <%= link_to 'Edit', edit_outfit_path(@outfit) %> |
    <%= link_to 'Back', outfits_path %>
  </div>
</div>
