<p id="notice"><%= notice %></p>

<p>
  <strong>Worn on:</strong>
  <%= @outfit.display_date %>
</p>

<p><strong>Items</strong></p>
<%= render @outfit.items %> 

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
