<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "required" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :categories %></br>
    <% if !(@categories.length == 0) %> 
      <%= f.collection_check_boxes :category_ids, @categories, :id, :name, :include_hidden => false %>
    <% else %> 
      <p>Create some categories in the Categories page!</p>
    <% end %> 
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
