<p>
  <strong>Name:</strong>
  <%= @item.long_name %>
</p>

<p>
  <strong>Price: </strong>
  <%= number_to_currency(@item.price) %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p><strong>Worn on:</strong></p>
<div class="row">
  <%= render @item.outfits %>
</div>

<% if @item.categories.length > 0 %> 
  <p>
    <strong>Categories:</strong>
    <% @item.categories.each do |category| %> 
      <%= link_to category.name, category_path(category) %>
    <% end %> 
  </p>
<% end %> 

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
