<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Items:</strong>
  <% @category.items.each do |item| %> 
    <p><%= item.name %><p></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
